@model CommerceApp.Models.GeneratePDF

@{
    ViewBag.Title = "Calendar";
    var months = 3;
    var startDate = DateTime.Today;
    if ((int)Model.numberOfMonths !=0)
    {
        months = (int)Model.numberOfMonths;
        startDate = Model.StartDate;
    }
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .image {
            background-color: white;
            float: right;
            width: 30%;
            content: url(/Content/themes/base/images/commerce_long.png);
        }

        .calendarSize {
            display: inline-block;
            margin: 0px 0px 5px 35px;
            height: 500px;
            width: 300px;
        }

        .calendarSizeSingle {
            display: inline-block;
            margin: 0px 0px 0px 175px;
            height: 600px;
            width: 1050px;
        }

        .imgFloatRight {
            position: absolute;
            left: 15px;
            top: -12px;
        }

        #rotate {
            /* Safari */
            -webkit-transform: rotate(-90deg);
            /* Firefox */
            -moz-transform: rotate(-90deg);
            /* IE */
            -ms-transform: rotate(-90deg);
            /* Opera */
            -o-transform: rotate(-90deg);
            /* Internet Explorer */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <title>Comerece Schedule</title>
    <link rel='stylesheet' type='text/css' href='~/Content/fullcalendar.css' />
    <link rel='stylesheet' type='text/css' media="print" href='~/Content/fullcalendar.print2.css' />
    <script type='text/javascript' src='~/scripts/jquery.js'></script>
    <script type='text/javascript' src='~/scripts/fullcalendar.js'></script>
    <script type='text/javascript' src='~/scripts/moment.min.js'></script>
</head>
<body>
    @if (@months <= 1)
    { <div class="calendarSizeSingle" id="calendar0"></div>}

    else
    {
        for (int i = 0; i < @months; i++)
        {
            <div class="calendarSize" id="calendar@(i)"></div>}
    }



    <script type="text/javascript">
        moment().format();
        function initCalendar($calendarDiv, displayMonth) {
            $calendarDiv.fullCalendar({
                month: displayMonth,
                weekMode: 'liquid',
                firstDay: 3,
                header: { left: 'title ', center: '', right: '' },
                events: "@Url.Action("GetCalendarEvents")"
            });
        }
        $(document).ready(function () {
            var myCount = '@(months)';
            var m = moment('@(startDate)').month();
            for (var i = 0; i < myCount; i++) {
                initCalendar($('#calendar' + i), m + i);
            }
        });
    </script>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

