<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Commerce Bank On-Call Schedule</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#006633">
        <div class="container-fluid">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="sr-only"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>

               </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index">Home<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">Schedule <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Schedule/Calendar">Generate Schedule</a></li>
                            <li><a href="/Schedule/Delete">Delete Schedule</a></li>
                            <li><a href="/Schedule/ExportPdf">Generate PDF</a></li>
                        </ul>
                    </li>
                   <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Employees <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Employees/Index">Employee Table</a></li>
                            <li><a href="/Employees/Create">Create Employee</a></li>
                       </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shifts <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Shifts/Create">Create Shift</a></li>
                            <li><a href="/Shifts/Index">Edit Shift</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Comerce Bank On-Call Schedule</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
